@charset "UTF-8";

/* CSS Document */
body, td, th, p {
  color: #333;
  font-family: 'Quattrocento', serif;
  line-height: 1.5;
}

body {
  background-color: #fdfdfd;
  min-width: 300px;
  width: auto !important;
  width: 1100px;
  position: relative;
}

ul, li {
  color: #4f455e;
  font-size: 16pt;
}

a {
  color: #c6b9cf;
  text-decoration: none;
}

a:hover, a:focus {
  color: #06700ad;
  text-decoration: none;
}

a img {
  border: none 0px #fff;
}

p {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  font-weight: bold;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

header h1 {
  padding: auto;
}

span {
  display: block;
  justify-content: space-evenly;
}

#maincontent {
  background-image: url("../img/pastel-purple.jpg");
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

#footer {
  align-items: center;
  background-color: #252831;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 2px;
  min-height: 20px;
  padding: 5px 25px 5px 25px;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */
nav {
  background-color: #4f455e;
  text-align: center;
  width: 100%;
}

nav h1 {
  margin: auto;
}

nav h1 a {
  color: #fff;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#breadcrumb {
  background-color: #fff;
  font-size: 17px;
  list-style: none;
  margin: 0;
  padding: 2px 10px 2px;
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  color: black;
  content: "/\00a0";
  padding: 8px;
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  border-bottom: 1px dotted;
  color: #4f455e;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #0670ad;
  text-decoration: underline;
}

/* ====================== Map ====================== */
#map-container {
  display: flex;
  flex-direction: column;
}

#map {
  align-content: center;
  height: 400px;
  width: 100%;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  align-items: center;
  background-color: #d6d6d66b;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filter-options h2 {
  background-color: #4f455e;
  color: #fff;
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  padding: 5px;
  width: 100%;
  text-align: center;
}

.filter-options select {
  border-bottom: 3px solid #333;
  background-color: #fff;
  border-radius: 10px;
  color: #4f455e;
  font-size: 1.3em;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  text-align-last: center;
  width: 210px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
}

#restaurants-list li {
  background-color: #fff;
  border: 2px solid #4f455e;
  border-radius: 25px;
  margin: 15px;
  max-width: 250px;
  padding: 0 15px 20px;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  border-radius: 25px;
  display: block;
  margin-top: 20px;
  max-width: 100%;
  min-width: 100%;
  overflow: hidden;
}

#restaurants-list li h4 {
  text-decoration: underline;
  margin: 2px;
}

#restaurants-list p {
  margin: 5px;
  padding: 5px;
}

#restaurants-list li a {
  background-color: #4f455e;
  border-bottom: 3px solid #333;
  border-radius: 10px;
  color: #fff;
  padding: 10px 30px 10px;
}

/* ====================== Restaurant Details ====================== */
#restaurant-container {
  display: flex;
  flex-direction: column;
}

#restaurant-name {
  background-color: #4f455e;
  color: #fff;
  font-size: 28pt;
  font-weight: bolder;
  letter-spacing: 0;
  line-height: 1.1;
  margin: 0;
  padding: 5px 0px 5px;
  text-align: center;
}

#restaurant-address {
  font-size: 22px;
  margin: 0;
  text-align: center;
}

#restaurant-sub-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 25px;
}

#restaurant-img {
  border-radius: 0 50px 0 50px;
  max-width: 100%;
  width: auto;
}

#restaurant-hours {
  background-color: #d6d6d66b;
  border: 1px solid #fff;
  border-width: thin;
  min-height: 300px;
  max-height: 300px;
}

#restaurant-hours td {
  border: 1px solid #fff;
  border-width: thin;
  padding: 5px 5px;
  text-align: center;
}

#restaurant-cuisine {
  background-color: #4f455e;
  color: #fff;
  font-size: 18pt;
  font-weight: 300;
  justify-content: center;
  letter-spacing: 10px;
  margin: 0;
  padding: 10px 0;
  text-align: center;
}

#reviews-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 40px 20px;
}

#reviews-container h2 {
  color: #4f455e;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: 5px;
  margin: 5px;
  text-align: center;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: #d6d6d66b;
  border-style: double;
  display: block;
  margin: 15px 0 15px;
  padding: 0 20px;
}

#reviews-list h4 {
  margin: 5px;
  text-align: center;
}

#reviews-list p {
  margin: 5px;
  padding: 5px;
}